<!DOCTYPE html>
<html layout:decorate="~{shared/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LISTADO DE INCIDENTES</title>
</head>
<body>


<div layout:fragment="content">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>LISTADO DE INCIDENTES</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Simple Tables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Bordered Table</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">No DE CASO</th>
                                    <th scope="col">DESCRIPCION</th>
                                    <th scope="col">DIRECCION</th>
                                    <th scope="col">REFERENCIA</th>
                                    <th scope="col">FECHA</th>
                                    <th scope="col">CATEGORIA</th>
                                    <th scope="col">ESTADO</th>
                                    <th scope="col">ACCIONES</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="incidente: ${listadoIncidentes}">
                                    <th scope="row" th:text="${incidente.getId()}"></th>
                                    <td th:text="${incidente.getDescripcion()}"></td>
                                    <td th:text="${incidente.getDireccion()}"></td>
                                    <td th:text="${incidente.getReferenciaDeDireccion()}"></td>
                                    <td th:text="${incidente.getFecha()}"></td>
                                    <td th:text="${incidente.getIdCategoria().getNombre()}"></td>
                                    <td th:if="${incidente.getEstado() == 1}"><span class="badge badge-danger">Sin proceso</span></td>
                                    <td th:if="${incidente.getEstado() == 2}"><span class="badge badge-success">Solucionado</span></td>
                                    <td th:if="${incidente.getEstado() == 3}"><span class="badge badge-dark">No aplica</span></td>
                                    <td>

                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                Cambiar estado
                                            </button>
                                            <div class="dropdown-menu">
                                                <form th:id="'form_solucionado_' + ${incidente.getId()}" th:action="@{'/casos/solucionado/' + ${incidente.getId()}}" method="post">
                                                    <button class="btn btn-primary dropdown-item" th:onclick="'consultarCambiarEstadoSolucionado(' + ${incidente.getId()} + ')'">Solucionado</button>
                                                </form>
                                                <a class="dropdown-item" th:onclick="'consultarCambiarEstadoNoAplica(' + ${incidente.getId()} + ')'">No aplica</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" th:onclick="'consultarCambiarEstadoEliminado(' + ${incidente.getId()} + ')'">Eliminar</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" th:href="'/casos/detalle/' + ${incidente.getId()}">Ver Detalle</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>

    </section>
    <!-- Main content -->


</div>


<th:block layout:fragment="script">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11">const Swal = require('sweetalert2');</script>
    <script type="text/javascript">
        let actualizarEstado = "[[${actualizado} != null ? ${actualizado} : '0']]"
        if(actualizarEstado === '1'){
            Swal.fire({
                title: "Caso actualizado con exito",
                icon: "success"
            });
        }
        const consultarCambiarEstadoSolucionado = id => {
            document.getElementById('form_solucionado_' + id).addEventListener('submit', function (e){
                e.preventDefault();
            });
            Swal.fire({
                title: "Seguro que deseas cambiar a solucionado?",
                showDenyButton: true,
                confirmButtonText: "Si, Cambiar",
                denyButtonText: `No, Cancelar`,
                icon: "question"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire("Confirmado, procediendo", "", "success");
                    document.getElementById('form_solucionado_' + id).submit();
                } else if (result.isDenied) {
                    Swal.fire("Cambios cancelados", "", "info");
                }
            });
        }
        const consultarCambiarEstadoNoAplica = id => {
            Swal.fire({
                title: "Seguro que deseas cambiar a estado no aplica?",
                showDenyButton: true,
                confirmButtonText: "Si, Cambiar",
                denyButtonText: `No, Cancelar`,
                icon: "question"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire("Confirmado, procediendo", "", "success");
                    let url = '/casos/no-aplica/' + id;
                    window.location.href = url;
                } else if (result.isDenied) {
                    Swal.fire("Cambios cancelados", "", "info");
                }
            });
        }
        const consultarCambiarEstadoEliminado = id => {
            Swal.fire({
                title: "Seguro que deseas eliminar el registro?",
                showDenyButton: true,
                confirmButtonText: "Si, Cambiar",
                denyButtonText: `No, Cancelar`,
                icon: "question"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire("Confirmado, procediendo", "", "success");
                    let url = '/casos/eliminar/' + id;
                    window.location.href = url;
                } else if (result.isDenied) {
                    Swal.fire("Cambios cancelados", "", "info");
                }
            });
        }
    </script>
</th:block>
</body>
</html>
