<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
<head th:insert="~{fragments.html :: headerContent}"></head>
<body>
<div th:insert="~{fragments.html :: navegacion}"></div>
<div class="container">
    <main style="margin-top: 5em; margin-bottom: 5em; display: flex; align-items: center; justify-content: center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">No DE CASO</th>
                    <th scope="col">DESCRIPCION</th>
                    <th scope="col">DIRECCION</th>
                    <th scope="col">REFERENCIA</th>
                    <th scope="col">FECHA</th>
                    <th scope="col">CATEGORIA</th>
                    <th scope="col">ESTADO</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="incidente: ${listadoIncidentes}">
                    <th scope="row" th:text="${incidente.getId()}"></th>
                    <td th:text="${incidente.getDescripcion()}"></td>
                    <td th:text="${incidente.getDireccion()}"></td>
                    <td th:text="${incidente.getReferenciaDeDireccion()}"></td>
                    <td th:text="${incidente.getFecha()}"></td>
                    <td th:text="${incidente.getIdCategoria().getNombre()}"></td>
                    <td th:if="${incidente.getEstado() == 1}">Sin proceso</td>
                    <td th:if="${incidente.getEstado() == 2}">Solucionado</td>
                    <td th:if="${incidente.getEstado() == 3}">No aplica</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Cambiar estado</button>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:onclick="'consultarCambiarEstadoSolucionado(' + ${incidente.getId()} + ')'">Solucionado</a></li>
                                <li><a class="dropdown-item" th:onclick="'consultarCambiarEstadoNoAplica(' + ${incidente.getId()} + ')'">No aplica</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:onclick="'consultarCambiarEstadoEliminado(' + ${incidente.getId()} + ')'">Eliminar</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:href="'/casos/detalle/' + ${incidente.getId()}">Ver Detalle</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</div>
<footer th:insert="~{fragments.html :: footer}"></footer>
<div th:insert="~{fragments.html :: scripts}"></div>

<script type="text/javascript">
    const consultarCambiarEstadoSolucionado = id => {
        Swal.fire({
            title: "Seguro que deseas cambiar a solucionado?",
            showDenyButton: true,
            confirmButtonText: "Si, Cambiar",
            denyButtonText: `No, Cancelar`,
            icon: "question"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire("Confirmado, procediendo", "", "success");
                let url = '/casos/solucionado/' + id;
                window.location.href = url;
            } else if (result.isDenied) {
                Swal.fire("Cambios cancelados", "", "info");
            }
        });
    }
    const consultarCambiarEstadoNoAplica = id => {
        Swal.fire({
            title: "Seguro que deseas cambiar a estado no aplica?",
            showDenyButton: true,
            confirmButtonText: "Si, Cambiar",
            denyButtonText: `No, Cancelar`,
            icon: "question"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire("Confirmado, procediendo", "", "success");
                let url = '/casos/no-aplica/' + id;
                window.location.href = url;
            } else if (result.isDenied) {
                Swal.fire("Cambios cancelados", "", "info");
            }
        });
    }
    const consultarCambiarEstadoEliminado = id => {
        Swal.fire({
            title: "Seguro que deseas eliminar el registro?",
            showDenyButton: true,
            confirmButtonText: "Si, Cambiar",
            denyButtonText: `No, Cancelar`,
            icon: "question"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire("Confirmado, procediendo", "", "success");
                let url = '/casos/eliminar/' + id;
                window.location.href = url;
            } else if (result.isDenied) {
                Swal.fire("Cambios cancelados", "", "info");
            }
        });
    }
</script>
</body>
</html>