<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown user-menu show" sec:authorize="isAuthenticated()">
            <a aria-expanded="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                <img alt="User Image" class="user-image img-circle elevation-2"
                     src="/webjars/AdminLTE/3.2.0/dist/img/user2-160x160.jpg">
                <span class="d-none d-md-inline" sec:authentication="name"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <!-- User image -->
                <li class="user-header bg-primary">
                    <img alt="User Image" class="img-circle elevation-2"
                         src="/webjars/AdminLTE/3.2.0/dist/img/user2-160x160.jpg">

                    <p>
                        <span sec:authentication="name"></span>
                        <small sec:authentication="principal.authorities"></small>
                    </p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                    <form th:action="@{/logout}" method="post" id="logout" style="display: flex; justify-content: center;">
                        <button type="submit" class="btn btn-danger btn-flat">
                            <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                        </button>
                    </form>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-slide="true" data-widget="control-sidebar" href="#" role="button">
                <i class="fas fa-th-large"></i>
            </a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->
