<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Brand Logo -->
    <a class="brand-link d-flex align-items-center" href="/">
        <img alt="AdminLTE Logo" class="brand-image img-circle elevation-3" src="/img/logo.jpeg" style="opacity: .8; margin-right: 10px;">
        <span class="brand-text font-weight-light" style="line-height: 60px;">MENÚ</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">

            <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview" role="menu">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/}">
                        <i class="fa-solid fa-house"></i>
                        <p>Inicio</p>
                    </a>
                </li>

                <div sec:authorize="hasRole('Administrador')">
                    <li class="nav-item has-treeview">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fas fa-folder-open"></i>
                            <p>
                                Casos
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/casos/all}">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Listar</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </div>

                <!--
                <li class="nav-item has-treeview">
                    <a class="nav-link" href="#">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Categorias
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/categoria/all}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Listar</p>
                            </a>
                        </li>
                    </ul>
                </li>
                -->

                <div sec:authorize="hasRole('Administrador')">
                    <li class="nav-item has-treeview">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fas fa-briefcase"></i>
                            <p>
                                Areas de Trabajo
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/area-trabajo/all}">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Listar</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </div>

                <!--OCULTANDO ROLES PORQUE SOLO DEBERAN EXISTIR 2 ROLES EN LA BASE DE DATOS
                ESTOS ROLES DEBERAN SER 1.Administrador y 2.Operador
                <li class="nav-item has-treeview">
                    <a class="nav-link" href="#">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Roles
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/role/all}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Listar</p>
                            </a>
                        </li>
                    </ul>
                </li>
                -->

                <!-- Línea divisoria -->
                <li class="nav-item">
                    <hr class="dropdown-divider" style="border-top: 1px solid rgba(128, 128, 128, 0.5); margin: 0.5rem 0;">
                </li>

                <div sec:authorize="hasRole('Administrador')">
                    <li class="nav-item has-treeview">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                Usuarios
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/usuario/all}">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Listar</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </div>

                <div sec:authorize="hasRole('Operador')">
                    <li class="nav-item has-treeview">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fas fa-tasks"></i>
                            <p>
                                Casos asignados
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/casos/usuarios/all}">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Listar</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </div>

                <!--
                <li class="nav-item">
                    <a class="nav-link" href="/contact">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Contact</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/register">
                        <i class="nav-icon fas fa-th"></i>
                        <p>About</p>
                    </a>
                </li>
                -->

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
