<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
<head th:insert="~{fragments.html :: headerContent}"></head>
<body>
    <div th:insert="~{fragments.html :: navegacion}"></div>
    <div class="container">
        <main style="margin-top: 5em; margin-bottom: 5em; display: flex; align-items: center; justify-content: center">
            <img src="img/logo.jpeg" class="img-fluid" alt="fondo">
        </main>
    </div>
    <footer th:insert="~{fragments.html :: footer}"></footer>
    <div th:insert="~{fragments.html :: scripts}"></div>
</body>
</html>