<div class="modal fade" id="modal-editar-notificacion" tabindex="-1" role="dialog" aria-labelledby="editarNotificacionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarNotificacionLabel">Editar Notificación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form-editar-notificacion" th:action="@{/notificacion/editar}" method="post">
                <div class="modal-body">
                    <input type="hidden" id="editar-id-notificacion" name="id">
                    <div class="form-group">
                        <label for="editar-descripcion-notificacion">Descripción</label>
                        <input type="text" class="form-control" id="editar-descripcion-notificacion" name="descripcion" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </form>

        </div>
    </div>
</div>