<!DOCTYPE html>
<html layout:decorate="~{shared/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Listado de Roles</title>
</head>

<body>
<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Listado de Roles</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Simple Tables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-crear">
                                Nuevo Rol
                            </button>
                        </div>
                        <!-- /.card-header -->
                        <div class="container">
                            <h1>Listado de Roles</h1>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="rol : ${roles}">
                                    <td th:text="${rol.id}"></td>
                                    <td th:text="${rol.nombreRol}"></td>
                                    <td>
                                        <!--<a th:href="'/categoria/editar/' + ${categoria.id}" class="btn btn-primary eBtn" th:onclick="editarCategoria(event)">Editar</a>-->

                                        <form th:id="@{'form_eliminar_' + ${rol.id}}" th:action="@{'/role/eliminar/' + ${rol.getId()}}" method="post">
                                            <button type="submit" class="btn btn-danger btn-sm" th:onclick="'consultarCambiarEstadoEliminado(' + ${rol.getId()} + ')'">Eliminar</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>

    <!-- Modal para editar categoría -->
    <div class="modal fade" id="modal-editar" tabindex="-1" role="dialog" aria-labelledby="modalEditarLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editar Categoría</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form-editar-categoria" th:action="@{'/categoria/' + ${categoryId}}" method="post">
                    <div class="modal-body">
                        <input type="hidden" id="editar-id" name="id"> <!-- Campo oculto para almacenar el ID de la categoría -->
                        <div class="form-group">
                            <label for="editar-nombre">Nombre de la Categoría</label>
                            <input type="text" class="form-control" id="editar-nombre" name="nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="editar-estado">Estado</label>
                            <select class="form-control" id="editar-estado" name="estado" required>
                                <option value="1">Sin proceso</option>
                                <option value="2">Solucionado</option>
                                <option value="3">No aplica</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
    <!-- Modal para crear nueva categoría -->
    <div class="modal fade" id="modal-crear" tabindex="-1" role="dialog" aria-labelledby="modalCrearLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Crear Nuevo Rol</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form-crear-categoria" th:action="@{/role/add}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="crear-nombre">Nombre del Area de Trabajo</label>
                            <input type="text" class="form-control" id="crear-nombre" name="nombreRol" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<th:block layout:fragment="script">

    <script type="text/javascript">
        function editarCategoria(event) {
            event.preventDefault();
            var href = $(event.target).attr('href');
            var categoryId = href.split('/').pop();

            $.get(href, function (categoria, status) {
                if (categoria && categoria.id) {
                    var modal = $('#modal-editar');
                    modal.find('#editar-id').data('categoria-id', categoryId);
                    modal.find('#editar-nombre').val(categoria.nombre);
                    modal.find('#editar-estado').val(categoria.estado);
                    modal.showModal()
                } else {
                    alert('Error al obtener los datos de la categoría.');
                }
            });
        }
        const consultarCambiarEstadoEliminado = id => {
            document.getElementById('form_eliminar_' + id).addEventListener('submit', function (e){
                e.preventDefault();
            });
            Swal.fire({
                title: "Seguro que deseas eliminar el registro?",
                showDenyButton: true,
                confirmButtonText: "Si, Cambiar",
                denyButtonText: `No, Cancelar`,
                icon: "question"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire("Confirmado, procediendo", "", "success");
                    document.getElementById('form_eliminar_' + id).submit();
                } else if (result.isDenied) {
                    Swal.fire("Cambios cancelados", "", "info");
                }
            });
        }
    </script>

</th:block>

</body>
</html>
